@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}


.padding-fix {
  overflow: hidden; margin-top: 10px; margin-left:0;
}
// .padding-fix .pane .sections{
// padding-bottom: 120px;

// }
iframe {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}